<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Crud with Servlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>InsertStudent</display-name>
    <servlet-name>InsertStudent</servlet-name>
    <servlet-class>com.mphasis.servlet.InsertStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertStudent</servlet-name>
    <url-pattern>/InsertStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadStudent</display-name>
    <servlet-name>ReadStudent</servlet-name>
    <servlet-class>com.mphasis.servlet.ReadStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadStudent</servlet-name>
    <url-pattern>/ReadStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStudent</display-name>
    <servlet-name>DeleteStudent</servlet-name>
    <servlet-class>com.mphasis.servlet.DeleteStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStudent</servlet-name>
    <url-pattern>/DeleteStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditStudent</display-name>
    <servlet-name>EditStudent</servlet-name>
    <servlet-class>com.mphasis.servlet.EditStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditStudent</servlet-name>
    <url-pattern>/EditStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditStudentController</display-name>
    <servlet-name>EditStudentController</servlet-name>
    <servlet-class>com.mphasis.servlet.EditStudentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditStudentController</servlet-name>
    <url-pattern>/EditStudentController</url-pattern>
  </servlet-mapping>
</web-app>